body {
    background-color: aliceblue;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 350%;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 150%;
}

#link-location, button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
